body {
background-color: #BDEEFF;
}
.container {
        display: flex;
        align-items: center;
        justify-content: center
      }
img {
	max-width: 100%
	}
.image {
	flex-basis: 40%
	}
.text {
	font-size: 20px;
	padding-left: 20px;
	}
.center {
	display: block;
	margin-left: auto;
	margin-right: auto;
	}
.link {
	color:black;
	text-decoration: none;
	box-shadow: none;
	outline: none;
	border: 0;
}

.inicio {
    background-color: #9CE5FF;
}
.img-with-text {
    text-align: center;
    width: [width of img];
}

.img-with-text img {
    display: block;
    margin: 0 auto;
}
div.center {
  text-align: center;
}